<section id="contact" class="home-section wg-contact section-alt">
    <div class="container">
        <div class="row contact-widget">
            <div class="col-12 col-lg-4 section-heading">
                <h1>Contact</h1>
            </div>
            <div class="col-12 col-lg-8">
                <ul class="fa-ul">
                    <li>
                        <i class="fa-li fas fa-envelope fa-2x" aria-hidden="true"></i>
                        <span id="person-email"><a href="mailto:afraananrodoshi1208@gmail.com">afraananrodoshi1208@gmail.com</a></span>
                    </li>
                    <li>
                        <i class="fa-li fas fa-id-card fa-2x" aria-hidden="true"></i>
                        <span>AAMC ID 17094624 &middot; ERAS 2027 applicant</span>
                    </li>
                    <li>
                        <i class="fa-li fas fa-map-marker fa-2x" aria-hidden="true"></i>
                        <span id="person-address">Irvine, California, United States</span>
                    </li>
                    <li>
                        <i class="fa-li fas fa-file-pdf fa-2x" aria-hidden="true"></i>
                        <span><a href="/cv.pdf" target="_blank" rel="noopener">Curriculum vitae (PDF)</a></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
