<nav class="navbar navbar-expand-lg navbar-light compensate-for-scrollbar" id="navbar-main">
    <div class="container">
        <a class="navbar-brand" href="/">Afra Anan Rodoshi, MBBS</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
            <span><i class="fas fa-bars"></i></span>
        </button>
        <div class="navbar-collapse main-menu-item collapse justify-content-start" id="navbar-content">
            <ul class="navbar-nav d-md-inline-flex">
                <li class="nav-item">
                    <a class="nav-link" href="/#about" data-target="#about"><span>About</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#education" data-target="#education"><span>Education</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#experience" data-target="#experience"><span>Clinical Experience</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#research" data-target="#research"><span>Research</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#service" data-target="#service"><span>Volunteering</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cv.pdf" target="_blank" rel="noopener"><span>CV</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#contact" data-target="#contact"><span>Contact</span></a>
                </li>
            </ul>
        </div>
        <ul class="nav-icons navbar-nav flex-row ml-auto d-flex pl-md-2">
        </ul>
    </div>
</nav>
